  form {
      max-width: 500px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 15px;
  }

  .section {
      padding: 60px 20px;
      text-align: center;
  }

  footer {
      background-color: #222;
      color: white;
      text-align: center;
      padding: 20px;
  }


  form input,
  form textarea {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
  }

  form button {
      padding: 12px;
      background-color: #2a3b4e;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
  }

  form button:hover {
      background-color: #222;
  }